<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="shortcut icon" href="./assets/images/PetParadiseIcono.png" type="image/x-icon">
    <link rel="stylesheet" href="./assets/styles/index1.css">
    <title>Pet Paradise</title>
</head>
<body>
    <div class="layout" id="app">
        <header class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="social-network">
                            <li class="me-3"><a class="waves-effect waves-dark" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f fs-5"></i></a></li>
                            <li class="me-3"><a class="waves-effect waves-dark" href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter fs-5"></i></a></li>
                            <li><a class="waves-effect waves-dark" href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram fs-5"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="container-fluid">
            <div class="navbar-conf d-flex justify-content-between align-items-center mx-background-top-linear p-1">
                <a class="navbar-brand d-sm-block d-none" href="#">
                    <img class="logo rounded-circle" src="./assets/images/PetParadiseLogo1.png" alt="Bootstrap" height="100">
                </a>
                <nav class="navbar navbar-expand-sm navbar-dark">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="fs-4 fw-semibold nav-link active blackShadow" aria-current="page" href="#">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="fs-4 nav-link text-light" href="./assets/pages/toys1.html">Juguetes</a>
                            </li>
                            <li class="nav-item">
                                <a class="fs-4 nav-link text-light" href="./assets/pages/pharmacy1.html">Farmacia</a>
                            </li>
                            <li class="nav-item">
                                <a class="fs-4 nav-link text-light" href="./assets/pages/contact1.html">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div>
                    <button class="btn text-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <i class="fs-1 fa-solid fa-bag-shopping" value="5"></i>
                    </button>
                </div>
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-light" id="offcanvasRightLabel">Tu Carrito</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>


                <div class="offcanvas-body">
                    <div class="cart-item">
                        <img src="" alt="Producto 1">
                        <div class="item-details text-light">
                            <h6>Nombre del Producto 1</h6>
                            <p>Cantidad: <span class="quantity">2</span> 
                                <i class="fas fa-plus-square add-icon"></i>
                                <i class="fas fa-minus-square subtract-icon"></i>
                            </p>
                            <p>Precio unitario: $10.00</p>
                            <button class="btn btn-danger delete-icon"><i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                
                    <div class="cart-item">
                        <img src="" alt="Producto 2">
                        <div class="item-details text-light">
                            <h6>Nombre del Producto 2</h6>
                            <p>Cantidad: <span class="quantity">1</span> 
                                <i class="fas fa-plus-square add-icon"></i>
                                <i class="fas fa-minus-square subtract-icon"></i>
                            </p>
                            <p>Precio unitario: $20.00</p>
                            <button class="btn btn-danger delete-icon"><i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                
                    <hr class="text-light">
                
                    <div class="subtotal text-light">
                        <p>Subtotal: $30.00</p>
                    </div>
                
                    <div class="checkout-button">
                        <button class="btn btn-primary">Ir a Pagar</button>
                    </div>
                </div>
                
                
                
            </div>
        </div> 

        
    <main class="flex-grow-1">

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner text-center">
              <div class="carousel-item">
                <img src="./assets/images/carousel2.png" class="img-carousel img-fluid" alt="bravecto">
              </div>
              <div class="carousel-item active">
                <img src="./assets/images/carousel1.png" class="img-carousel img-fluid" alt="10% off">
              </div>
              <div class="carousel-item">
                <img src="./assets/images/carousel3.png" class="img-carousel img-fluid" alt="promocion liquidacion">
              </div>
              <div class="carousel-item">
                <img src="./assets/images/carousel4.jpg" class="img-carousel img-fluid" alt="dia mundial del animal">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          

        <div class="mt-5 mb-5 text-center">
            <div class="line-container">
              <span class="favorite p-1 fs-4">Tienda de Mascotas Pet Paradise</span>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-center mb-5">
            <p class="text-center w-75 fs-5">Bienvenid@ a Pet paradise, tu tienda de mascotas online de confianza, encuentra todo lo que necesitas para cuidar y consentir a tus adorables compañeros peludos, ofrecemos una amplia selección de productos.</p>
        </div>

        <div class="mt-5 mb-5 text-center">
            <div class="line-container">
              <span class="favorite p-1 fs-4">Los más populares</span>
            </div>
        </div>
        
        <div class="d-flex flex-wrap justify-content-center" v-if="mostSelledProducts.length != 0">
            <div class="card m-3" style="width: 18rem;" v-for="product of mostSelledProducts">
                <img :src="product.imagen" class="card-img-top" alt="product.producto">
            <div class="card-body">
                <h5 class="card-title text-center">{{product.producto}}</h5>
                <div class="d-flex align-items-center justify-content-center">
                    <a href="#" class="btn-card me-2 p-1">Mas información</a>
                    <a href="#" class="btn-card p-1"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
            <div>
                <p class="stockProduct text-center pb-5" v-if="product.disponibles <= 5 && product.disponibles > 0">Últimas unidades</p>
                <p class="stockProduct text-center pb-5" v-else>Agotado!</p>
            </div>
            </div>
        </div>
        <section class="d-flex flex-column align-items-center" v-else>
            <h4>No hay productos disponibles.</h4>
            <img class="error rounded-3" src="https://static.vecteezy.com/system/resources/previews/004/435/751/non_2x/404-error-page-with-black-cat-illustrations-not-found-system-updates-uploading-operation-computing-installation-programs-vector.jpg" alt="error de productos">
        </section>

        <div class="d-flex align-items-center justify-content-center imgs-bottom">
            <img class="img-bottom m-1" src="./assets/images/cat-litter.jpg" alt="arenero gato">
            <img class="img-bottom m-1" src="./assets/images/dermatitis.jpg" alt="dermatitis">
        </div>

    </main>
    <footer class="footerTIA pb-3">
        <div class="site-section">
          <div class="container">
            <div class="row">
              <div class="col-md pr-md-5 mb-4 mb-md-0">
                <h3>Acerca de nosotros</h3>
                <p class="text-justify text-light">
                    Nos dedicamos a ofrecer una experiencia única para ti y tus mascotas. Nos enorgullece proporcionar una amplia variedad de juguetes especialmente seleccionados para mantener a tus amigos de cuatro patas activos y entretenidos.</p>
                <p class="text-justify text-light">
                    Además, entendemos la importancia de la salud y el cuidado de tus mascotas. En nuestra farmacia para mascotas, ofrecemos una gama completa de productos de alta calidad, desde alimentos especializados hasta suplementos y medicamentos. 
                </p>
                <ul class="list-unstyled quick-info mb-4">
                  <li><a href="#" class="d-flex align-items-center"><span class="fa-solid fa-mobile-screen-button me-3" style="color: #ff8700;"></span>+57 300 000 0000</a></li>
                  <li><a href="#" class="d-flex align-items-center"><span class="fa-regular fa-envelope me-3" style="color: #ff8700;"></span>petparadise@gmail.com</a></li>
                </ul>
                <form action="#" class="subscribe">
                  <input type="text" class="form-control" placeholder="Ingresa el email" v-model="email">
                  <button class="btn btn-submit" type="submit" @click.prevent="subscribe">Suscribirse</button>
                </form>
              </div>
              <div class="col-md mb-4 mb-md-0">
                <h3>Últimos Tweets</h3>
                <ul class="list-unstyled tweets">
                  <li class="d-flex">
                    <div><span class="fa-brands fa-x-twitter"></span></div>
                    <div class="ms-3 text-justify text-light">🐾 ¡Bienvenido a tu paraíso para mascotas, Pet Paradise! 🛍️ Tu pedido está en nuestras manos y nos emociona preparar una experiencia única para tus amigos peludos. Desde juguetes hasta productos de farmacia, ¡estamos aquí para consentir a tus mascotas! 🌈✨ #PetParadise #MimosParaMascotas</div>
                  </li>
                  <li class="d-flex">
                    <div><span class="fa-brands fa-x-twitter"></span></div>
                    <div class="ms-3 text-justify text-light">🎁 ¡Gracias por confiar en Pet Paradise para las necesidades de tus mascotas! 🚚 Tu pedido ha sido recibido y estamos listos para enviar una dosis de felicidad a tus amigos peludos. ¡Que tus mascotas disfruten de su paraíso personal! 🐶🐾 #PetParadiseEntrega #ClientesFelices</div>
                  </li>
                  <li class="d-flex">
                    <div><span class="fa-brands fa-x-twitter"></span></div>
                    <div class="ms-3 text-justify text-light">🌟 ¡Tu viaje al paraíso de las mascotas ha comenzado con Pet Paradise! 🛒 Gracias por elegirnos para consentir a tus amigos peludos. Tu pedido ha sido recibido y pronto tus mascotas disfrutarán de la magia de nuestro paraíso de juguetes y cuidado de la salud. 🐱🐾 #PetParadiseExperiencia #GraciasClientes</div>
                  </li>
                </ul>
              </div>
              <div class="col-md-3 mb-4 mb-md-0">
                <h3>Instagram</h3>
                <div class="row gallery">
                  <div class="col-6">
                    <a href="#"><img src="./assets/images/collar-gatos.png" alt="Image" class="img-fluid"></a>
                    <a href="#"><img src="./assets/images/cepillo.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="col-6">
                    <a href="#"><img src="./assets/images/collar-perros.png" alt="Image" class="img-fluid"></a>
                    <a href="#"><img src="./assets/images/tableta-pulgas-perros.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./assets/scripts/index1.js"></script>
</body>
</html>